<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SqlConnectionString" value="Data Source=.;Initial Catalog=Inventory;Integrated Security=True;MultipleActiveResultSets=True"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="EXCELDIRECTORY" value="D:\\Tirth_Billing\\JewelInventory\\JewelInventory\\bin\\Debug\\Excel_Files" />
		<add key="ImagePath" value="D:\Images" />
		<add key="StockUploadManulMode" value="true" />
		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
	</appSettings>
  <connectionStrings>
		<add name="inventoryContainer" connectionString="metadata=res://*/Entities.inventory.csdl|res://*/Entities.inventory.ssdl|res://*/Entities.inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Inventory;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="LoggerConnectionString" connectionString="Data Source=.;Initial Catalog=Inventory;Integrated Security=True;MultipleActiveResultSets=True"/>
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime  version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
