<!-- 
	######################################
	# 
	# This file is only for development purposes only.  It 
	# gets overwritten with the Web.config transformations, so 
	# feel free to modify it for your local environment needs.
	# 
    ######################################
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- Need to refrence this assembly now for NLog 2.0 will receive LayoutRenderer cannot be found : 'aspnet-request' exception -->
	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>
	
	<targets async="true">

		<!-- Database logging targets. -->
		<target name="db" xsi:type="BufferingWrapper" bufferSize="100" slidingTimeout="True" flushTimeout="5000">
			<target xsi:type="Database"
					keepConnection="false"
					useTransactions="true"
					dbProvider="mssql"
					connectionStringName="DbRampUp_kiboo_core">
				<commandText>INSERT INTO [kiboo_core].[dbo].[TraceLogs]
		([LogGuid],[LogDateTime],[Level],[MachineName],[Class],[Message],[Exception],[GCTotalMemory],[GCGen0Count]
		,[GCGen1Count],[GCGen2Count],[GCMaxGen],[ProcessId],[Identity],[REMOTE_ADDR],[REMOTE_PORT],[HTTP_ACCEPT_LANGUAGE],[HTTP_USER_AGENT],[HTTP_COOKIE],[QUERY_STRING])
     VALUES
           (@LogGuid,@LogDateTime,@Level,@MachineName,@Class,@Message,@Exception,@GCTotalMemory,@GCGen0Count,@GCGen1Count,
			@GCGen2Count,@GCMaxGen,@ProcessId,@Identity,@REMOTE_ADDR,@REMOTE_PORT,@HTTP_ACCEPT_LANGUAGE,@HTTP_USER_AGENT,@HTTP_COOKIE,@QUERY_STRING);</commandText>
				<parameter name="@LogGuid" layout="${guid}" />
				<parameter name="@LogDateTime" layout="${longdate:universalTime=True}" />
				<parameter name="@Level" layout="${level:uppercase=true}" />
				<parameter name="@MachineName" layout="${machinename:uppercase=true}" />
				<parameter name="@Class" layout="${logger}" />
				<parameter name="@Message" layout="${message}" />
				<parameter name="@Exception" layout="${exception:separator=;:format=Message,Type,ShortType,ToString,Method,StackTrace}" />
				<parameter name="@GCTotalMemory" layout="${gc:property=TotalMemory}" />
				<parameter name="@GCGen0Count" layout="${gc:property=CollectionCount0}" />
				<parameter name="@GCGen1Count" layout="${gc:property=CollectionCount1}" />
				<parameter name="@GCGen2Count" layout="${gc:property=CollectionCount2}" />
				<parameter name="@GCMaxGen" layout="${gc:property=MaxGeneration}" />
				<parameter name="@ProcessId" layout="${processid}" />
				<parameter name="@Identity" layout="${identity:authType=False:separator=,:name=True:isAuthenticated=True}" />
				<parameter name="@REMOTE_ADDR" layout="${aspnet-request:serverVariable=REMOTE_ADDR}" />
				<parameter name="@REMOTE_PORT" layout="${aspnet-request:serverVariable=REMOTE_PORT}" />
				<parameter name="@HTTP_ACCEPT_LANGUAGE" layout="${aspnet-request:serverVariable=HTTP_ACCEPT_LANGUAGE}" />
				<parameter name="@HTTP_USER_AGENT" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}" />
				<parameter name="@HTTP_COOKIE" layout="${aspnet-request:serverVariable=HTTP_COOKIE}" />
				<parameter name="@QUERY_STRING" layout="${aspnet-request:serverVariable=QUERY_STRING}" />
			</target>
		</target>

		<!-- SMTP Email to Development / Support. -->
		<target name="mail" xsi:type="BufferingWrapper" bufferSize="100" slidingTimeout="True" flushTimeout="5000">
			<target xsi:type="Mail"
					smtpServer="localhost"
					from="do-not-reply@kiboo.com"
					to="eric@kiboo.com;kenny@kiboo.com;henry@kiboo.com;bryan@kiboo.com;will@kiboo.com"
					subject="[Kiboo] - Error/Fatal Message"
layout="#####################################################
Level: ${level:uppercase=true}
EventId: ${guid}
DateTime: ${longdate:universalTime=True} (UTC)
Thread Name: ${threadname}
Call Site: ${callsite}

StackTrace: ${stacktrace}
					
${aspnet-request:serverVariable=REQUEST_METHOD} ${aspnet-request:serverVariable=HTTP_HOST}:${aspnet-request:serverVariable=SERVER_PORT}${aspnet-request:serverVariable=URL}

Authorized: ${identity:authType=False:name=False:isAuthenticated=True} 
Username: ${identity:authType=False:name=True:isAuthenticated=False}

Message: ${message}

Exception: ${exception:format=ToString}
					
Machine Name: ${machinename:uppercase=true}
ProcessId: ${processid}

QUERY_STRING: ${aspnet-request:serverVariable=QUERY_STRING}
HTTP_ACCEPT_LANGUAGE: ${aspnet-request:serverVariable=HTTP_ACCEPT_LANGUAGE}
HTTP_USER_AGENT: ${aspnet-request:serverVariable=HTTP_USER_AGENT}
REMOTE_ADDR: ${aspnet-request:serverVariable=REMOTE_ADDR}
REMOTE_PORT: ${aspnet-request:serverVariable=REMOTE_PORT}
HTTP_COOKIE: ${aspnet-request:serverVariable=HTTP_COOKIE}
#####################################################

">
			</target>
		</target>

		<!-- File log version (can be extensive, may want to turn on only for debugging).  -->
		<target name="file" xsi:type="File"
			fileName="${basedir}../log-${machinename:uppercase=true}/${aspnet-request:serverVariable=HTTP_HOST}-${shortdate}.log"
			keepFileOpen="true"
		layout="#####################################################
      Level: ${level:uppercase=true}
    EventId: ${guid}
   DateTime: ${longdate:universalTime=True} (UTC)
Thread Name: ${threadname}
  Call Site: ${callsite}

${aspnet-request:serverVariable=REQUEST_METHOD} ${aspnet-request:serverVariable=HTTP_HOST}:${aspnet-request:serverVariable=SERVER_PORT}${aspnet-request:serverVariable=URL}

Authorized: ${identity:authType=False:name=False:isAuthenticated=True} 
Username: ${identity:authType=False:name=True:isAuthenticated=False}

Message: ${message}

Exception: ${exception:format=ToString}
					
Machine Name: ${machinename:uppercase=true}
ProcessId: ${processid}

QUERY_STRING: ${aspnet-request:serverVariable=QUERY_STRING}
HTTP_ACCEPT_LANGUAGE: ${aspnet-request:serverVariable=HTTP_ACCEPT_LANGUAGE}
HTTP_USER_AGENT: ${aspnet-request:serverVariable=HTTP_USER_AGENT}
REMOTE_ADDR: ${aspnet-request:serverVariable=REMOTE_ADDR}
REMOTE_PORT: ${aspnet-request:serverVariable=REMOTE_PORT}
HTTP_COOKIE: ${aspnet-request:serverVariable=HTTP_COOKIE}
#####################################################

">
		</target>

	</targets>

	<rules>
		<!--
			Nothing is enabled for local development as this would create some massive logs.  If you want to
			enable logging, uncomment the one below that has writeTo="file".  This will log all levels to
			a file under /log of the website in question.
		
			Log levels (in order):
			
				• Fatal 
				• Error 
				• Warn 
				• Info 
				• Debug 
				• Trace 
				• Off 
		-->

		<!-- Production logging defaults (keep on top to ensure DB gets written first) -->
		<!--<logger name="*" minlevel="Warn" writeTo="db" />
		<logger name="*" minlevel="Info" writeTo="mail" />-->

		<!-- Uncomment to log all system events (use caution, and disable when done) -->
		<!--<logger name="*" minlevel="Trace" writeTo="file" />-->
		
	</rules>

</nlog>
